<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kaarigar"
        tools:targetApi="31">
        <activity
            android:name=".detailpage.Shftdetails4"
            android:exported="false" />
        <activity
            android:name=".detailpage.Shftdetails3"
            android:exported="false" />
        <activity
            android:name=".detailpage.Shftdetails2"
            android:exported="false" />
        <activity
            android:name=".detailpage.Shftdetails1"
            android:exported="false" />
        <activity
            android:name=".detailpage.Plmbdetails4"
            android:exported="false" />
        <activity
            android:name=".detailpage.Plmbdetails3"
            android:exported="false" />
        <activity
            android:name=".detailpage.Plmbdetails2"
            android:exported="false" />
        <activity
            android:name=".detailpage.Plmbdetails1"
            android:exported="false" />
        <activity
            android:name=".detailpage.Pntdetails4"
            android:exported="false" />
        <activity
            android:name=".detailpage.Pntdetails3"
            android:exported="false" />
        <activity
            android:name=".detailpage.Pntdetails2"
            android:exported="false" />
        <activity
            android:name=".detailpage.Pntdetails1"
            android:exported="false" />
        <activity
            android:name=".detailpage.Elcdetails4"
            android:exported="false" />
        <activity
            android:name=".detailpage.Elcdetails3"
            android:exported="false" />
        <activity
            android:name=".detailpage.Elcdetails2"
            android:exported="false" />
        <activity
            android:name=".detailpage.Elcdetails1"
            android:exported="false" />
        <activity
            android:name=".detailpage.Cldetails4"
            android:exported="false" />
        <activity
            android:name=".detailpage.Cldetails3"
            android:exported="false" />
        <activity
            android:name=".detailpage.Cldetails2"
            android:exported="false" />
        <activity
            android:name=".detailpage.Cldetails1"
            android:exported="false" />
        <activity
            android:name=".detailpage.Btydetails4"
            android:exported="false" />
        <activity
            android:name=".detailpage.Btydetails3"
            android:exported="false" />
        <activity
            android:name=".detailpage.Btydetails2"
            android:exported="false" />
        <activity
            android:name=".detailpage.Btydetails1"
            android:exported="false" />
        <activity
            android:name=".detailpage.APdetails4"
            android:exported="false" />
        <activity
            android:name=".detailpage.APdetails3"
            android:exported="false" />
        <activity
            android:name=".detailpage.APdetails2"
            android:exported="false" />
        <activity
            android:name=".detailpage.APdetails1"
            android:exported="false" />
        <activity
            android:name=".ConfirmBooking"
            android:exported="false" />
        <activity
            android:name=".detailpage.AcDetails4"
            android:exported="false" />
        <activity
            android:name=".detailpage.AcDetails3"
            android:exported="false" />
        <activity
            android:name=".detailpage.AcDetails2"
            android:exported="false" />
        <activity
            android:name=".detailpage.AcDetails1"
            android:exported="false" />
        <activity
            android:name=".categories.ShiftingCategory"
            android:exported="false" />
        <activity
            android:name=".categories.PlumbingCategory"
            android:exported="false" />
        <activity
            android:name=".categories.PaintingCategory"
            android:exported="false" />
        <activity
            android:name=".categories.CleaningCategory"
            android:exported="false" />
        <activity
            android:name=".categories.ElectronicsCategory"
            android:exported="false" />
        <activity
            android:name=".categories.AppliancesCategory"
            android:exported="false" />
        <activity
            android:name=".categories.BeautyCategory"
            android:exported="false" />
        <activity
            android:name=".categories.AcrepairCategory"
            android:exported="false" />
        <activity
            android:name=".notificationActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".chooselocation"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Onboarding"
            android:exported="false" />
        <activity
            android:name=".splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>